.header {
    position: sticky;
    position: -webkit-sticky;
    /* display: flex; */
    align-items: center;
    justify-content: left;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}


header {
    margin-left: 250px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(0, 110, 255);
    padding: -10px 0;

}

.flex-container nav {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    flex: auto;
    /* display: inline-flex; */
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.flex-container nav2 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    flex: auto;
    /* display: inline-flex; */
    flex-wrap: wrap;
    margin-left: 500px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.box-container {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.box {
    text-align: center;
    line-height: 300px;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    background-color: #3498db;
    margin: 10px;
    justify-content: center;
    flex-direction: row;
    display: inline-block;

}